.headeradmin {
    display: flex;
    background: hsl(var(--nextui-background));
    border-bottom: 1px solid hsl(var(--nextui-default));
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
}